<% for attribute in attributes -%>
<p>
  <b><%= attribute.human_name %>:</b>
  <%%= @<%= singular_name %>.<%= attribute.name %> %>
</p>

<% end -%>

<%%= link_to 'Edit', edit_<%= scope_prefix + singular_name %>_path(<%= instance_variable_scope('@' + singular_name) %>) %>
<%- unless options[:singleton] -%>
<%%= link_to 'Back', <%= scope_prefix + plural_name %>_path(<%= instance_variable_scope %>) %>
<%- end -%>