<h1>New <%= singular_name %></h1>

<%%= form_for :<%= singular_name %>, :url => <%= scope_prefix + (singleton? ? singular_name : plural_name) %>_path(<%= instance_variable_scope %>) do |f| %>
  <%%= render :partial => 'fields', :locals => {:f => f} %>
  <%%= f.submit %>
<%% end %>
<%- unless options[:singleton] -%>

<%%= link_to 'Back', <%= scope_prefix + plural_name %>_path(<%= instance_variable_scope %>) %>
<%- end -%>